{
	"highlightFirstLine": 1,
	"highlightLastLine": 6,
	"segments": [
		{
			"lines": [
				"/**",
				" * BIP44 as everyone implements it (MetaMask, Trezor, Lattice, EthersJS),",
				" * iterating over the `address_index` path out of the 5 levels in BIP44:",
				" *   m / purpose' / coin_type' / account' / change / address_index",
				" */",
				"export const BIP44_STANDARD_DERIVATION_TEMPLATE = \"m/44'/60'/0'/0/<account>\"",
				"/**",
				" * BIP44 as Ledger (Live) currently implements it. They iterate over the",
				" * `account'` path out of the 5 levels in BIP44:",
				" *   m / purpose' / coin_type' / account' / change / address_index"
			],
			"startLine": 1
		}
	]
}
