# Build output
dist/
src/generated/

# Generated types
.astro/

# Cache for Vitest or whatever else
.cache/

# Dependencies
node_modules/

# ESLint cache
.eslintcache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production

# MacOS-specific files
.DS_Store

# JetBrains setting folder
.idea/

# For playing with claude code
scrap.md

# Python cache
__pycache__


# Compiler files
resources/contracts/cache/
resources/contracts/out/
resources/contracts/lib/

# Ignores development broadcast logs
resources/contracts/!/broadcast
resources/contracts/broadcast/*/31337/
resources/contracts/broadcast/**/dry-run/

# Docs
resources/contracts/docs/
