{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "useTabs": false,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-curly"]
}
