{
	"highlightFirstLine": 116,
	"highlightLastLine": 139,
	"segments": [
		{
			"lines": [
				"const messengerProviderRequestFn = async (messenger: Messenger, request: ProviderRequestPayload) => {"
			],
			"startLine": 105
		},
		{
			"lines": [
				"  const appSession =",
				"    hostSessions && hostSessions.sessions?.[hostSessions.activeSessionAddress]",
				"      ? {"
			],
			"startLine": 107
		},
		{
			"lines": [
				"        }",
				"      : null;",
				"",
				"  if (request.method === 'eth_requestAccounts') {",
				"    const dappData = await getDappMetadata({ url: getDappHost(request.meta?.sender.url) });",
				"    // eslint-disable-next-line @typescript-eslint/ban-ts-comment",
				"    // @ts-ignore - chainId is not defined in the type",
				"    const chainId = request.params?.[0]?.chainId ? BigNumber.from(request.params?.[0]?.chainId).toNumber() : undefined;",
				"    const response = await handleDappBrowserConnectionPrompt({",
				"      dappName: dappData?.appName || request.meta?.sender.title || '',",
				"      dappUrl: request.meta?.sender.url || '',",
				"      chainId,",
				"      address: hostSessions?.activeSessionAddress || undefined,",
				"    });",
				"",
				"    if (!response || response instanceof Error) {",
				"      throw new UserRejectedRequestError(Error('User rejected the request.'));",
				"    }",
				"",
				"    useAppSessionsStore.getState().addSession({",
				"      host: getDappHost(request.meta?.sender.url) || '',",
				"      address: response?.address,",
				"      chainId: response.chainId,",
				"      url: request.meta?.sender.url || '',",
				"    });",
				"    return response;",
				"  } else {",
				"    const dappData = await getDappMetadata({ url: getDappHost(request.meta?.sender.url) });",
				"",
				"    const response = await handleDappBrowserRequest({",
				"      dappName: dappData?.appName || request.meta?.sender.title || request.meta?.sender.url || '',",
				"      imageUrl: dappData?.appLogo || '',"
			],
			"startLine": 112
		}
	]
}
