{
	"highlightFirstLine": 4136,
	"highlightLastLine": 4139,
	"segments": [
		{
			"lines": [
				"\"@noble/hashes@npm:1.4.0, @noble/hashes@npm:^1.3.3, @noble/hashes@npm:~1.4.0\":"
			],
			"startLine": 4129
		},
		{
			"lines": [
				"  checksum: 10c0/8c3f005ee72e7b8f9cff756dfae1241485187254e3f743873e22073d63906863df5d4f13d441b7530ea614b7a093f0d889309f28b59850f33b66cb26a779a4a5",
				"  languageName: node",
				"  linkType: hard",
				"",
				"\"@noble/hashes@npm:1.8.0, @noble/hashes@npm:^1.8.0, @noble/hashes@npm:~1.8.0\":",
				"  version: 1.8.0",
				"  resolution: \"@noble/hashes@npm:1.8.0\"",
				"  checksum: 10c0/06a0b52c81a6fa7f04d67762e08b2c476a00285858150caeaaff4037356dd5e119f45b2a530f638b77a5eeca013168ec1b655db41bae3236cb2e9d511484fc77",
				"  languageName: node",
				"  linkType: hard",
				"",
				"\"@noble/hashes@npm:^1.2.0\":"
			],
			"startLine": 4132
		}
	]
}
