{
	"highlightFirstLine": 1,
	"highlightLastLine": 7,
	"segments": [
		{
			"lines": [
				"export enum EthereumWalletType {",
				"  mnemonic = 'mnemonic',",
				"  privateKey = 'privateKey',",
				"  readOnly = 'readOnly',",
				"  seed = 'seed',",
				"  bluetooth = 'bluetooth',",
				"}",
				"",
				"// We need to keep this one until",
				"// we have typescript everywhere",
				"export default {"
			],
			"startLine": 1
		}
	]
}
