{
	"highlightFirstLine": 31,
	"highlightLastLine": 31,
	"segments": [
		{
			"lines": [
				"to the top of the file above all other calls. We want Performance tracking",
				"to start before all of the imports.",
				" */",
				"require('react-native-gesture-handler');",
				"require('./shim');",
				"require('./src/App');",
				"PerformanceTracking.finishReportSegment(PerformanceReports.appStartup, PerformanceReportSegments.appStartup.loadMainModule);"
			],
			"startLine": 27
		}
	]
}
