{
	"highlightFirstLine": 21931,
	"highlightLastLine": 21933,
	"segments": [
		{
			"lines": [
				"\"radix3@npm:^1.1.2\":"
			],
			"startLine": 21924
		},
		{
			"lines": [
				"  checksum: 10c0/d4a295547f71af079868d2c2ed3814a9296ee026c5488212d58c106e6b4797c6eaec1259b46c9728913622f2240c9a944bfc8e2b3b5f6e4a5045338b1609f1e4",
				"  languageName: node",
				"  linkType: hard",
				"",
				"\"randombytes@npm:^2.0.0, randombytes@npm:^2.0.1, randombytes@npm:^2.0.5, randombytes@npm:^2.0.6, randombytes@npm:^2.1.0\":",
				"  version: 2.1.0",
				"  resolution: \"randombytes@npm:2.1.0\"",
				"  dependencies:",
				"    safe-buffer: \"npm:^5.1.0\"",
				"  checksum: 10c0/50395efda7a8c94f5dffab564f9ff89736064d32addf0cc7e8bf5e4166f09f8ded7a0849ca6c2d2a59478f7d90f78f20d8048bca3cdf8be09d8e8a10790388f3",
				"  languageName: node"
			],
			"startLine": 21927
		}
	]
}
