{
	"highlightFirstLine": 48,
	"highlightLastLine": 69,
	"segments": [
		{
			"lines": [
				"export const deriveAccountFromBluetoothHardwareWallet = async (deviceId: string, index = 0): Promise<EthereumWalletFromSeed> => {"
			],
			"startLine": 24
		},
		{
			"lines": [
				"  return {"
			],
			"startLine": 37
		},
		{
			"lines": [
				"    walletType: WalletLibraryType.ledger,",
				"  };",
				"};",
				"",
				"export const deriveAccountFromMnemonic = async (mnemonic: string, index = 0): Promise<EthereumWalletFromSeed> => {",
				"  let seed;",
				"  if (Platform.OS === 'ios') {",
				"    seed = await mnemonicToSeed(mnemonic);",
				"  } else {",
				"    const res = await RNBip39.mnemonicToSeed({ mnemonic, passphrase: null });",
				"    seed = new Buffer(res, 'base64');",
				"  }",
				"  const hdWallet = hdkey.fromMasterSeed(seed);",
				"  const root = hdWallet.derivePath(DEFAULT_HD_PATH);",
				"  const child = root.deriveChild(index);",
				"  const wallet = child.getWallet();",
				"  return {",
				"    address: ensureChecksumAddress(wallet.getAddress().toString('hex')),",
				"    isHDWallet: true,",
				"    root,",
				"    type: WalletTypes.mnemonic,",
				"    hdnode: null,",
				"    wallet,",
				"    walletType: WalletLibraryType.bip39,",
				"  };",
				"};",
				"",
				"export const deriveAccountFromPrivateKey = (privateKey: EthereumPrivateKey): EthereumWalletFromSeed => {",
				"  const ethersWallet = new Wallet(addHexPrefix(privateKey));",
				"  return {"
			],
			"startLine": 44
		}
	]
}
