{
	"highlightFirstLine": 241,
	"highlightLastLine": 241,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 159
		},
		{
			"lines": [
				"    \"async-mutex\": \"0.3.2\",",
				"    \"asyncstorage-down\": \"4.2.0\",",
				"    \"big-integer\": \"1.6.51\",",
				"    \"bignumber.js\": \"9.0.1\",",
				"    \"bip39\": \"3.0.2\",",
				"    \"browserify-zlib\": \"0.1.4\",",
				"    \"buffer\": \"4.9.2\",",
				"    \"chroma-js\": \"2.1.0\",",
				"    \"conditional-wrap\": \"1.0.2\","
			],
			"startLine": 237
		}
	]
}
