{
	"highlightFirstLine": 194,
	"highlightLastLine": 195,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 161
		},
		{
			"lines": [
				"    \"@ethersproject/wallet\": \"5.8.0\",",
				"    \"@gorhom/bottom-sheet\": \"5.2.8\",",
				"    \"@json-rpc-tools/utils\": \"1.7.6\",",
				"    \"@lavamoat/preinstall-always-fail\": \"2.0.0\",",
				"    \"@ledgerhq/hw-app-eth\": \"6.39.0\",",
				"    \"@ledgerhq/react-native-hw-transport-ble\": \"6.34.1\",",
				"    \"@legendapp/list\": \"2.0.16\",",
				"    \"@metamask/eth-sig-util\": \"7.0.2\",",
				"    \"@nktkas/hyperliquid\": \"0.32.2\",",
				"    \"@notifee/react-native\": \"7.8.2\","
			],
			"startLine": 190
		}
	]
}
