  [event.walletBackupQuizSubmitted]: {
    /**
     * Completed: if the user successfully completes the wallet backup quiz.
     * Failed: if the user fails to complete the backup quiz.
     * Skipped: if the user opts to skip the backup quiz completely.
     */
    status: 'completed' | 'failed' | 'skipped';
    /**
     * The entry point of the wallet backup quiz.
     */
    entryPoint: 'onboarding' | 'settings';
    /**
     * Index of the wallet seed to track how many backups are completed.
     */
    index: number;
  };
