{
	"highlightFirstLine": 13,
	"highlightLastLine": 75,
	"segments": [
		{
			"lines": [
				"import {"
			],
			"startLine": 7
		},
		{
			"lines": [
				"  parse,",
				"  serialize,",
				"} from '@ethersproject/transactions';",
				"import transformTypedDataPlugin from '@trezor/connect-plugin-ethereum';",
				"import TrezorConnect from '@trezor/connect-web';",
				"import {",
				"  Address,",
				"  ByteArray,",
				"  Hex,",
				"  bytesToHex,",
				"  hexToBytes,",
				"  stringToBytes,",
				"} from 'viem';",
				"",
				"import {",
				"  SigningMessage,",
				"  isPersonalSignMessage,",
				"  isTypedDataMessage,",
				"} from '~/core/types/messageSigning';",
				"import { sanitizeTypedData } from '~/core/utils/ethereum';",
				"import { addHexPrefix } from '~/core/utils/hex';",
				"import { getProvider } from '~/core/viem/clientToProvider';",
				"import { RainbowError, logger } from '~/logger';",
				"",
				"import { popupClient } from './background';",
				"",
				"const getPath = async (address: Address) => {",
				"  return await popupClient.wallet.path(address);",
				"};",
				"",
				"export async function signTransactionFromTrezor(",
				"  transaction: TransactionRequest,",
				"): Promise<Hex> {",
				"  try {",
				"    const { from: address } = transaction;",
				"    const path = await getPath(address as Address);",
				"",
				"    const baseTx: UnsignedTransaction = {",
				"      chainId: transaction.chainId || undefined,",
				"      data: transaction.data || undefined,",
				"      gasLimit: transaction.gasLimit",
				"        ? BigNumber.from(transaction.gasLimit).toHexString()",
				"        : undefined,",
				"      nonce: BigNumber.from(transaction.nonce).toNumber(),",
				"      to: transaction.to || undefined,",
				"      value: transaction?.value",
				"        ? BigNumber.from(transaction.value).toHexString()",
				"        : '0x0',",
				"    };",
				"",
				"    if (transaction.gasPrice) {",
				"      baseTx.gasPrice = transaction.gasPrice;",
				"    } else if (transaction.maxFeePerGas || transaction.maxPriorityFeePerGas) {",
				"      // eip-1559",
				"      baseTx.maxFeePerGas = transaction.maxFeePerGas;",
				"      baseTx.maxPriorityFeePerGas = transaction.maxPriorityFeePerGas;",
				"    } else {",
				"      baseTx.gasPrice = transaction.maxFeePerGas;",
				"    }",
				"",
				"    const nonceHex = BigNumber.from(transaction.nonce).toHexString();",
				"    const response = await TrezorConnect.ethereumSignTransaction({",
				"      path,",
				"      // @ts-expect-error --- unsure why the ts compiler is displaying 'never' for tx type",
				"      transaction: {",
				"        ...baseTx,",
				"        nonce: nonceHex,",
				"      },",
				"    });",
				"",
				"    if (response.success) {"
			],
			"startLine": 9
		}
	]
}
