{
	"highlightFirstLine": 149,
	"highlightLastLine": 205,
	"segments": [
		{
			"lines": [
				"fragment target on TransactionSimulationTarget {"
			],
			"startLine": 140
		},
		{
			"lines": [
				"  created",
				"  sourceCodeStatus",
				"}",
				"",
				"query simulateTransactions(",
				"  $chainId: Int!",
				"  $transactions: [Transaction!]!",
				"  $domain: String",
				") {",
				"  simulateTransactions(",
				"    chainID: $chainId",
				"    transactions: $transactions",
				"    domain: $domain",
				"  ) {",
				"    scanning {",
				"      result",
				"      description",
				"    }",
				"    error {",
				"      message",
				"      type",
				"    }",
				"    gas {",
				"      estimate",
				"    }",
				"    simulation {",
				"      in {",
				"        ...change",
				"      }",
				"      out {",
				"        ...change",
				"      }",
				"      approvals {",
				"        asset {",
				"          ...asset",
				"        }",
				"        spender {",
				"          ...target",
				"        }",
				"        quantityAllowed",
				"        quantityAtRisk",
				"        expiration",
				"      }",
				"      meta {",
				"        transferTo {",
				"          ...target",
				"        }",
				"        to {",
				"          ...target",
				"        }",
				"      }",
				"      delegation {",
				"        address",
				"        name",
				"        iconURL",
				"        created",
				"        sourceCodeStatus",
				"      }",
				"    }",
				"  }",
				"}",
				"",
				"query simulateMessage(",
				"  $chainId: Int!",
				"  $address: String!"
			],
			"startLine": 145
		}
	]
}
