{
	"highlightFirstLine": 187,
	"highlightLastLine": 187,
	"segments": [
		{
			"lines": [
				"const seedPhraseVersion = 1.0;",
				"const selectedWalletVersion = 1.0;",
				"export const allWalletsVersion = 1.0;",
				"",
				"export const DEFAULT_HD_PATH = `m/44'/60'/0'/0`;",
				"export const DEFAULT_WALLET_NAME = 'My Wallet';",
				"",
				"const authenticationPrompt = { title: i18n.t(i18n.l.wallet.authenticate.please) };",
				""
			],
			"startLine": 183
		}
	]
}
