    // NOTE: This can only happen on a fresh install
    if (!currentIdentifier.value) {
      await kc.set(identifierForVendorKey, uuid);
      return;
    }

    if (currentIdentifier.value === uuid) {
      return;
    }

    return new Promise(resolve => {
      Navigation.handleAction(Routes.CHECK_IDENTIFIER_SCREEN, {
        step: walletBackupStepTypes.check_identifier,
        // NOTE: Just a reinstall, let's update the identifer and send them back to the app
        onSuccess: async () => {
