{
	"highlightFirstLine": 319,
	"highlightLastLine": 319,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 159
		},
		{
			"lines": [
				"    \"react-native-edge-to-edge\": \"1.6.2\",",
				"    \"react-native-fast-image\": \"8.5.11\",",
				"    \"react-native-fs\": \"2.16.6\",",
				"    \"react-native-gesture-handler\": \"2.31.1\",",
				"    \"react-native-get-random-values\": \"1.5.0\",",
				"    \"react-native-image-colors\": \"2.5.1\",",
				"    \"react-native-indicators\": \"0.17.0\",",
				"    \"react-native-ios-context-menu\": \"1.15.3\",",
				"    \"react-native-keyboard-controller\": \"1.19.1\","
			],
			"startLine": 315
		}
	]
}
