{
	"highlightFirstLine": 28,
	"highlightLastLine": 29,
	"segments": [
		{
			"lines": [
				"export interface UserProperties {"
			],
			"startLine": 13
		},
		{
			"lines": [
				"  // number of unique private keys",
				"  privateKeys?: number;",
				"  // number of imported unique private keys",
				"  importedPrivateKeys?: number;",
				"  // number of paired trezor hardware wallets -- unsupported but leaving BX key here",
				"  trezorDevices?: number;",
				"  // number of paired ledger hardware wallets",
				"  ledgerDevices?: number;",
				"  // whether a recovery phrase or private key has been imported",
				"  hasImported?: boolean;"
			],
			"startLine": 24
		}
	]
}
