{
	"highlightFirstLine": 399,
	"highlightLastLine": 414,
	"segments": [
		{
			"lines": [
				"/**",
				" * Returns our standard private access control options, based on certain",
				" * environment variables.",
				" */",
				"export async function getPrivateAccessControlOptions(): Promise<SetOptions> {",
				"  logger.debug(`[keychain]: getPrivateAccessControlOptions`, {}, logger.DebugContext.keychain);",
				"",
				"  const isSimulator = IS_DEV && Platform.OS === 'ios' && (await DeviceInfo.isEmulator());",
				"",
				"  if (isSimulator) return {};",
				"",
				"  const usePin = await shouldAuthenticateWithPIN();",
				"",
				"  return {",
				"    accessControl: Platform.OS === 'ios' ? ACCESS_CONTROL.USER_PRESENCE : ACCESS_CONTROL.BIOMETRY_CURRENT_SET_OR_DEVICE_PASSCODE,",
				"    accessible: ACCESSIBLE.WHEN_UNLOCKED_THIS_DEVICE_ONLY,",
				"    // storage is explicitly set in order to specify RSA instead of the symmetric AES_GCM default.",
				"    storage: usePin ? STORAGE_TYPE.AES_GCM_NO_AUTH : STORAGE_TYPE.RSA,",
				"  };",
				"}"
			],
			"startLine": 395
		}
	]
}
