{
	"highlightFirstLine": 11,
	"highlightLastLine": 11,
	"segments": [
		{
			"lines": [
				"import { type Provider, type StaticJsonRpcProvider } from '@ethersproject/providers';",
				"import { type Transaction } from '@ethersproject/transactions';",
				"import { Wallet } from '@ethersproject/wallet';",
				"import { signTypedData, type SignTypedDataVersion, type TypedMessage } from '@metamask/eth-sig-util';",
				"import { generateMnemonic } from 'bip39';",
				"import { isValidAddress, toBuffer, toChecksumAddress } from 'ethereumjs-util';",
				"import { type hdkey as EthereumHDKey, type default as LibWallet } from 'ethereumjs-wallet';",
				"import { findKey, isEmpty } from 'lodash';",
				"import { type GetOptions, type SetOptions } from 'react-native-keychain';"
			],
			"startLine": 7
		}
	]
}
