{
	"highlightFirstLine": 1,
	"highlightLastLine": 48,
	"segments": [
		{
			"lines": [
				"import AppEth from '@ledgerhq/hw-app-eth';",
				"import TransportBLE from '@ledgerhq/react-native-hw-transport-ble';",
				"",
				"import { getHdPath, WalletLibraryType } from '@/features/wallet/core/walletLibrary';",
				"import * as i18n from '@/languages';",
				"import { logger, RainbowError } from '@/logger';",
				"",
				"/**",
				" * Common Ledger Error Codes",
				" */",
				"export enum LEDGER_ERROR_CODES {",
				"  OFF_OR_LOCKED = 'off_or_locked',",
				"  NO_ETH_APP = 'no_eth_app',",
				"  UNKNOWN = 'unknown',",
				"  DISCONNECTED = 'disconnected',",
				"}",
				"",
				"/**",
				" * Parses ledger errors based on common issues",
				" */",
				"export const ledgerErrorHandler = (error: Error) => {",
				"  if (error.message.includes('0x6511')) {",
				"    return LEDGER_ERROR_CODES.NO_ETH_APP;",
				"  }",
				"  if (error.name.includes('BleError') || error.message.includes('0x6b0c') || error.message.includes('busy')) {",
				"    return LEDGER_ERROR_CODES.OFF_OR_LOCKED;",
				"  }",
				"  if (error.name.includes('Disconnected')) {",
				"    logger.error(new RainbowError(`[ledger]: Disconnected Error`), {",
				"      name: error.name,",
				"      message: error.message,",
				"    });",
				"    return LEDGER_ERROR_CODES.DISCONNECTED;",
				"  }",
				"",
				"  logger.error(new RainbowError(`[ledger]: Unknown Error`), {",
				"    name: error.name,",
				"    message: error.message,",
				"  });",
				"",
				"  return LEDGER_ERROR_CODES.UNKNOWN;",
				"};",
				"",
				"export const getEthApp = async (deviceId: string) => {",
				"  const transport = await TransportBLE.open(deviceId);",
				"  const eth = new AppEth(transport);",
				"  return eth;",
				"};",
				"",
				"export const checkLedgerConnection = async ({",
				"  transport,",
				"  deviceId,"
			],
			"startLine": 1
		}
	]
}
