{
	"highlightFirstLine": 60,
	"highlightLastLine": 60,
	"segments": [
		{
			"lines": [
				"export class HdKeychain implements IKeychain {"
			],
			"startLine": 48
		},
		{
			"lines": [
				"  constructor() {"
			],
			"startLine": 52
		},
		{
			"lines": [
				"    privates.set(this, {",
				"      wallets: [],",
				"      mnemonic: null,",
				"      accountsEnabled: 1,",
				"      accountsDeleted: [],",
				"      hdPath: \"m/44'/60'/0'/0\",",
				"      getWalletForAddress: (address: Address) => {",
				"        return privates",
				"          .get(this)!",
				"          .wallets.find("
			],
			"startLine": 55
		}
	]
}
