{
	"highlightFirstLine": 1,
	"highlightLastLine": 1,
	"segments": [
		{
			"lines": [
				"import 'react-native-get-random-values';",
				"import 'react-native-url-polyfill/auto';",
				"import '@ethersproject/shims';",
				"",
				"import ReactNative from 'react-native';"
			],
			"startLine": 1
		}
	]
}
