@font-face {
  font-family: "wbicons";
  src: url('../src/styleswbicons.eot'); /* IE9*/
  src: url('../src/styleswbicons.eot?#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('../src/styleswbicons.woff2') format('woff2'),
  url('../src/styleswbicons.woff') format('woff'),
  url('../src/styleswbicons.ttf') format('truetype'),
  url('../src/styleswbicons.svg') format('svg');
}

[class^="wbicons-"], [class*=" wbicons-"] {
  font-family: 'wbicons' !important;font-size: undefined;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.wbicons-about::before { content: "\ea01"; }
.wbicons-account_type::before { content: "\ea02"; }
.wbicons-discuss::before { content: "\ea03"; }
.wbicons-faq::before { content: "\ea04"; }
.wbicons-newsletter::before { content: "\ea05"; }
.wbicons-repository::before { content: "\ea06"; }
.wbicons-wallet_browser::before { content: "\ea07"; }
.wbicons-wallet_desktop::before { content: "\ea08"; }
.wbicons-wallet_embedded::before { content: "\ea09"; }
.wbicons-wallet_hardware::before { content: "\ea0a"; }
.wbicons-wallet_mobile::before { content: "\ea0b"; }
.wbicons-wallet_software::before { content: "\ea0c"; }


