[data-wbicon] {
	font-family: var(--fontFamily-wbicons);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::before {
		content: var(--icon-content);
	}

	&[data-icon~="about"] {
		--icon-content: "\ea01";
	}

	&[data-icon~="account_abstraction"] {
		--icon-content: "\ea02";
	}

	&[data-icon~="account_portability"] {
		--icon-content: "\ea03";
	}

	&[data-icon~="account_recovery"] {
		--icon-content: "\ea04";
	}

	&[data-icon~="account_type"] {
		--icon-content: "\ea05";
	}

	&[data-icon~="account_unruggability"] {
		--icon-content: "\ea06";
	}

	&[data-icon~="address_resolution"] {
		--icon-content: "\ea07";
	}

	&[data-icon~="app_isolation"] {
		--icon-content: "\ea08";
	}

	&[data-icon~="browser_integration"] {
		--icon-content: "\ea09";
	}

	&[data-icon~="chain_abstraction"] {
		--icon-content: "\ea0a";
	}

	&[data-icon~="chain_verification"] {
		--icon-content: "\ea0b";
	}

	&[data-icon~="discuss"] {
		--icon-content: "\ea0c";
	}

	&[data-icon~="duress_resistance"] {
		--icon-content: "\ea0d";
	}

	&[data-icon~="ecosystem"] {
		--icon-content: "\ea0e";
	}

	&[data-icon~="faq"] {
		--icon-content: "\ea0f";
	}

	&[data-icon~="fee_transparency"] {
		--icon-content: "\ea10";
	}

	&[data-icon~="free_and_open_source_license"] {
		--icon-content: "\ea11";
	}

	&[data-icon~="funding_transparency"] {
		--icon-content: "\ea12";
	}

	&[data-icon~="hardware_wallet_interoperability"] {
		--icon-content: "\ea13";
	}

	&[data-icon~="hardware_wallet_support"] {
		--icon-content: "\ea14";
	}

	&[data-icon~="l1_provider_independence"] {
		--icon-content: "\ea15";
	}

	&[data-icon~="multi_address_privacy"] {
		--icon-content: "\ea16";
	}

	&[data-icon~="newsletter"] {
		--icon-content: "\ea17";
	}

	&[data-icon~="orderflow_transparency"] {
		--icon-content: "\ea18";
	}

	&[data-icon~="passkey_verification"] {
		--icon-content: "\ea19";
	}

	&[data-icon~="permissions_management"] {
		--icon-content: "\ea1a";
	}

	&[data-icon~="privacy"] {
		--icon-content: "\ea1b";
	}

	&[data-icon~="privacy_hygiene"] {
		--icon-content: "\ea1c";
	}

	&[data-icon~="private_token_transfers"] {
		--icon-content: "\ea1d";
	}

	&[data-icon~="question_mark"] {
		--icon-content: "\ea1e";
	}

	&[data-icon~="release_process_transparency"] {
		--icon-content: "\ea1f";
	}

	&[data-icon~="repository"] {
		--icon-content: "\ea20";
	}

	&[data-icon~="scam_prevention"] {
		--icon-content: "\ea21";
	}

	&[data-icon~="security"] {
		--icon-content: "\ea22";
	}

	&[data-icon~="security_audits"] {
		--icon-content: "\ea23";
	}

	&[data-icon~="security_best_practices"] {
		--icon-content: "\ea24";
	}

	&[data-icon~="self_sovereignty"] {
		--icon-content: "\ea25";
	}

	&[data-icon~="source_visibility"] {
		--icon-content: "\ea26";
	}

	&[data-icon~="transaction_batching"] {
		--icon-content: "\ea27";
	}

	&[data-icon~="transaction_inclusion"] {
		--icon-content: "\ea28";
	}

	&[data-icon~="transaction_legibility"] {
		--icon-content: "\ea29";
	}

	&[data-icon~="transparency"] {
		--icon-content: "\ea2a";
	}

	&[data-icon~="user_privacy"] {
		--icon-content: "\ea2b";
	}

	&[data-icon~="wallet_address_privacy"] {
		--icon-content: "\ea2c";
	}

	&[data-icon~="wallet_browser"] {
		--icon-content: "\ea2d";
	}

	&[data-icon~="wallet_desktop"] {
		--icon-content: "\ea2e";
	}

	&[data-icon~="wallet_embedded"] {
		--icon-content: "\ea2f";
	}

	&[data-icon~="wallet_hardware"] {
		--icon-content: "\ea30";
	}

	&[data-icon~="wallet_mobile"] {
		--icon-content: "\ea31";
	}

	&[data-icon~="wallet_software"] {
		--icon-content: "\ea32";
	}

	&[data-icon~="wallet_test"] {
		--icon-content: "\ea33";
	}
}
