{
	"highlightFirstLine": 9,
	"highlightLastLine": 10,
	"segments": [
		{
			"lines": [
				"",
				"import { useEnsName } from '../../hooks/ens/useEnsName.online';",
				"import theme from '../../theme';",
				"",
				"export default function EnsAddressLabel({ address }: { address: string }) {",
				"  const { name, error, retry } = useEnsName(address);",
				"",
				"  if (name) {",
				"    return (",
				"      <View style={styles.container}>"
			],
			"startLine": 5
		}
	]
}
