{
	"highlightFirstLine": 20,
	"highlightLastLine": 22,
	"segments": [
		{
			"lines": [
				"<p align=\"center\">"
			],
			"startLine": 7
		},
		{
			"lines": [
				"  <img src=\"https://img.shields.io/github/last-commit/mmlado/keycard-pal.svg\" alt=\"Last commit\" />",
				"  <img src=\"https://img.shields.io/github/stars/mmlado/keycard-pal.svg?style=social\" alt=\"Stars\" />",
				"</p>",
				"",
				"Keycard Pal is an air-gapped companion app for [Status Keycard](https://keycard.tech), on Android and iOS. It lets you sign Ethereum and Bitcoin transactions over NFC, so your private keys never touch an internet-connected device.",
				"",
				"All communication with your watch-only wallet happens through animated QR codes using the [Blockchain Commons UR](https://github.com/BlockchainCommons/bc-ur) standard. No telemetry.",
				"",
				"On Android, Keycard Pal comes in two variants:",
				"",
				"| Variant | Package ID | Internet |"
			],
			"startLine": 16
		}
	]
}
