{
	"highlightFirstLine": 1,
	"highlightLastLine": 5,
	"segments": [
		{
			"lines": [
				"export const SUPPORTED_WC_METHODS = [",
				"  'personal_sign',",
				"  'eth_signTypedData',",
				"  'eth_signTypedData_v4',",
				"] as const;",
				"",
				"export const SUPPORTED_WC_EIP155_CHAIN_IDS = [",
				"  // Mainnets",
				"  1, // Ethereum Mainnet"
			],
			"startLine": 1
		}
	]
}
