{
	"highlightFirstLine": 1,
	"highlightLastLine": 6,
	"segments": [
		{
			"lines": [
				"<manifest xmlns:android=\"http://schemas.android.com/apk/res/android\">",
				"",
				"    <uses-permission android:name=\"android.permission.NFC\" />",
				"    <uses-permission android:name=\"android.permission.CAMERA\" />",
				"    <uses-feature android:name=\"android.hardware.nfc\" android:required=\"true\" />",
				"    <uses-feature android:name=\"android.hardware.nfc.hce\" android:required=\"true\" />",
				"",
				"    <application",
				"      android:name=\".MainApplication\"",
				"      android:label=\"@string/app_name\""
			],
			"startLine": 1
		}
	]
}
