{
	"highlightFirstLine": 7,
	"highlightLastLine": 13,
	"segments": [
		{
			"lines": [
				"export const SUPPORTED_WC_METHODS = ["
			],
			"startLine": 1
		},
		{
			"lines": [
				"  'eth_signTypedData',",
				"  'eth_signTypedData_v4',",
				"] as const;",
				"",
				"export const SUPPORTED_WC_EIP155_CHAIN_IDS = [",
				"  // Mainnets",
				"  1, // Ethereum Mainnet",
				"  10, // Optimism",
				"  137, // Polygon",
				"  8453, // Base",
				"  42161, // Arbitrum One",
				"  // Testnets",
				"  11155111, // Sepolia",
				"  11155420, // Optimism Sepolia",
				"  80002, // Polygon Amoy"
			],
			"startLine": 3
		}
	]
}
