{
	"highlightFirstLine": 31,
	"highlightLastLine": 39,
	"segments": [
		{
			"lines": [
				"<dict>"
			],
			"startLine": 4
		},
		{
			"lines": [
				"\t<key>INTERNET_ENABLED</key>",
				"\t<string>$(INTERNET_ENABLED)</string>",
				"\t<key>LSRequiresIPhoneOS</key>",
				"\t<true/>",
				"\t<key>NFCReaderUsageDescription</key>",
				"\t<string>Keycard Pal needs NFC access to communicate with your Keycard.</string>",
				"\t<key>NSAppTransportSecurity</key>",
				"\t<dict>",
				"\t\t<key>NSAllowsArbitraryLoads</key>",
				"\t\t<false/>",
				"\t</dict>",
				"\t<key>NSCameraUsageDescription</key>",
				"\t<string>Keycard Pal needs camera access to scan QR codes.</string>",
				"\t<key>RCTNewArchEnabled</key>",
				"\t<true/>",
				"\t<key>UIAppFonts</key>",
				"\t<array>"
			],
			"startLine": 27
		}
	]
}
