{
	"highlightFirstLine": 114,
	"highlightLastLine": 114,
	"segments": [
		{
			"lines": [
				"Builds:"
			],
			"startLine": 37
		},
		{
			"lines": [
				"  - versionName: 1.14.0"
			],
			"startLine": 76
		},
		{
			"lines": [
				"    ndk: r27b",
				"    gradleprops:",
				"      - reactNativeArchitectures=arm64-v8a",
				"",
				"AllowedAPKSigningKeys: a83c114b1f4201dafbd03e221f1c2928ecb52b78bda5e93f296fedf2298e546b",
				"",
				"AutoUpdateMode: Version",
				"UpdateCheckMode: Tags",
				"VercodeOperation:"
			],
			"startLine": 110
		}
	]
}
