{
	"highlightFirstLine": 236,
	"highlightLastLine": 243,
	"segments": [
		{
			"lines": [
				"}) {"
			],
			"startLine": 108
		},
		{
			"lines": [
				"  return ("
			],
			"startLine": 115
		},
		{
			"lines": [
				"    >"
			],
			"startLine": 118
		},
		{
			"lines": [
				"      <View style={styles.proposalActions}>",
				"        <Button",
				"          mode=\"outlined\"",
				"          onPress={onReject}",
				"          textColor={theme.colors.error}",
				"        >",
				"          Reject",
				"        </Button>",
				"        <PrimaryButton",
				"          label=\"Confirm\"",
				"          onPress={onConfirm}",
				"          disabled={isScam || expired || !!proposalError}",
				"        />",
				"      </View>",
				"    </View>",
				"  );",
				"}"
			],
			"startLine": 230
		}
	]
}
