{
	"highlightFirstLine": 369,
	"highlightLastLine": 378,
	"segments": [
		{
			"lines": [
				"impl NetworkSettings {"
			],
			"startLine": 31
		},
		{
			"lines": [
				"   fn rpc_settings(&mut self, ctx: &mut ZeusContext, theme: &Theme, ui: &mut Ui) {"
			],
			"startLine": 354
		},
		{
			"lines": [
				"      }",
				"",
				"      let rpc = self.rpc_to_edit.as_mut().unwrap();",
				"",
				"      let text = RichText::new(\"MEV Protect\").size(theme.typography.normal);",
				"      ui.label(text);",
				"      let clicked = ui.checkbox(&mut rpc.mev_protect, \"\").clicked();",
				"",
				"      if clicked {",
				"         let z_client = ctx.client.clone();",
				"         z_client.write(|rpcs_map| {",
				"            if let Some(rpcs) = rpcs_map.get_mut(&rpc.chain_id) {",
				"               if let Some(old_rpc) = rpcs.get_mut(&rpc.url) {",
				"                  old_rpc.mev_protect = rpc.mev_protect;",
				"               }",
				"            }",
				"         });",
				"         RT.spawn_blocking(move || {"
			],
			"startLine": 365
		}
	]
}
