{
	"highlightFirstLine": 181,
	"highlightLastLine": 184,
	"segments": [
		{
			"lines": [
				"const PINS: &[(&str, &str)] = &["
			],
			"startLine": 20
		},
		{
			"lines": [
				"   (",
				"      \"registry/aave/calldata-lpv2.json\",",
				"      \"4d5211df0415da0f3422e023c00deb9ea2663fb698c7135b808c7fbb6fcac8e2\",",
				"   ),",
				"   (",
				"      \"registry/aave/calldata-lpv3.json\",",
				"      \"09dcf01c8fa39f21c7f4f694707c2912b563b822ab4d14ad4cab5353bec030b0\",",
				"   ),",
				"   (",
				"      \"registry/aave/tests/calldata-WrappedTokenGatewayV3.tests.json\",",
				"      \"aec0219221bebfc9505cf7057d588bdd78413e1f7dad1bbdc37fd480c2709a69\",",
				"   ),"
			],
			"startLine": 177
		}
	]
}
