{
	"highlightFirstLine": 258,
	"highlightLastLine": 283,
	"segments": [
		{
			"lines": [
				"impl NetworkSettings {"
			],
			"startLine": 31
		},
		{
			"lines": [
				"   fn list_ui(&mut self, ctx: &mut ZeusContext, theme: &Theme, icons: Arc<Icons>, ui: &mut Ui) {"
			],
			"startLine": 106
		},
		{
			"lines": [
				"      ScrollArea::vertical().auto_shrink([false; 2]).content_margin(5).show(ui, |ui| {"
			],
			"startLine": 239
		},
		{
			"lines": [
				"         for (_url, rpc) in rpcs.iter_mut() {",
				"            ui.horizontal(|ui| {"
			],
			"startLine": 243
		},
		{
			"lines": [
				"               rpc_col(ui, url_w, ROW_H, |ui| {",
				"                  ui.add(",
				"                     SecureTextEdit::singleline(&mut url)"
			],
			"startLine": 248
		},
		{
			"lines": [
				"                        .margin(Margin::same(5)),",
				"                  );",
				"               });",
				"",
				"               let was_enabled = rpc.enabled;",
				"               let res = rpc_col(ui, ENABLED_W, ROW_H, |ui| {",
				"                  ui.checkbox(&mut rpc.enabled, \"\")",
				"               });",
				"",
				"               if res.inner.clicked() {",
				"                  let z_client = ctx.client.clone();",
				"                  z_client.write(|rpcs_map| {",
				"                     let rpcs_opt = rpcs_map.get_mut(&chain);",
				"                     if let Some(rpcs) = rpcs_opt {",
				"                        if let Some(old_rpc) = rpcs.get_mut(&rpc.url) {",
				"                           old_rpc.enabled = rpc.enabled;",
				"                        }",
				"                     }",
				"                  });",
				"",
				"                  if !was_enabled && rpc.enabled {",
				"                     let rpc = rpc.clone();",
				"                     RT.spawn(async move {",
				"                        let ctx = SHARED_GUI.read(|gui| gui.ctx.clone());",
				"                        let z_client = ctx.get_zeus_client();",
				"                        z_client.run_check_for(ctx.clone(), rpc).await;",
				"",
				"                        post_enable_rpc(ctx, chain).await",
				"                     });",
				"                  }",
				"",
				"                  RT.spawn_blocking(move || {",
				"                     let ctx = SHARED_GUI.read(|gui| gui.ctx.clone());",
				"                     ctx.save_zeus_client();"
			],
			"startLine": 254
		}
	]
}
