{
	"highlightFirstLine": 177,
	"highlightLastLine": 179,
	"segments": [
		{
			"lines": [
				"export function extractUrlHost(url?: string): string | undefined {",
				"  return parseUrl(url)?.host",
				"}",
				"",
				"/** Returns the url origin (includes http or https) */",
				"export function extractBaseUrl(url?: string): string | undefined {",
				"  return parseUrl(url)?.origin",
				"}",
				"",
				"/**",
				" * Sanitizes a URL by ensuring it uses one of the allowed protocols.",
				" * Returns the original URL if its scheme matches `allowedProtocols`, otherwise"
			],
			"startLine": 172
		}
	]
}
