{
	"highlightFirstLine": 53,
	"highlightLastLine": 185,
	"segments": [
		{
			"lines": [
				"function updateChainId(self: EthereumProvider, chainId: string) {",
				"  self.chainId = chainId;",
				"  self.networkVersion = String(parseInt(chainId, 16));",
				"}",
				"export class EthereumProvider extends JsonRpcProvider {",
				"  accounts: string[];",
				"  chainId: string;",
				"  networkVersion: string;",
				"  isZerion = true;",
				"  isMetaMask?: boolean;",
				"  // Metamask provides this proxy with few experimental functions",
				"  // Some dapps rely on its methods (e.g. app.hop.exchange)",
				"  _metamask?: MetamaskExperimentalNamespace;",
				"  connection: Connection;",
				"  _openPromise: Promise<void> | null = null;",
				"",
				"  nonEip6963Request = false;",
				"",
				"  prefersOtherWalletStrategy?: (params: {",
				"    request: RequestArguments & { id?: number };",
				"    originalError: Error;",
				"  }) => Promise<unknown>;",
				"",
				"  constructor(connection: Connection) {",
				"    super(connection);",
				"    this.connection = connection;",
				"    this.shimLegacy();",
				"    this.chainId = '0x1';",
				"    this.networkVersion = '1';",
				"    this.accounts = [];",
				"",
				"    connection.on(",
				"      'ethereumEvent',",
				"      ({ event, value }: { event: string; value: unknown }) => {",
				"        if (event === 'connect') {",
				"          this.events.emit('connect', { chainId: this.chainId });",
				"          return;",
				"        }",
				"",
				"        if (event === 'chainChanged' && typeof value === 'string') {",
				"          if (value === this.chainId) {",
				"            return;",
				"          }",
				"          updateChainId(this, value);",
				"        }",
				"        if (event === 'accountsChanged' && Array.isArray(value)) {",
				"          if (",
				"            // it's okay to perform search like this because `this.accounts`",
				"            // always has at most one element",
				"            accountsEquals(value, this.accounts)",
				"          ) {",
				"            // Do not emit accountChanged because value hasn't changed",
				"            return;",
				"          } else if (value.length && !isEthereumAddress(value.at(0))) {",
				"            this.accounts = [];",
				"          } else {",
				"            this.accounts = value;",
				"          }",
				"        }",
				"        this.events.emit(event, value);",
				"      }",
				"    );",
				"",
				"    this.open();",
				"  }",
				"",
				"  on(event: string, listener: (params: unknown) => unknown) {",
				"    super.on(event, listener);",
				"    return this;",
				"  }",
				"",
				"  off(event: string, listener: (params: unknown) => unknown) {",
				"    super.off(event, listener);",
				"    return this;",
				"  }",
				"",
				"  markAsMetamask() {",
				"    this.isMetaMask = true;",
				"    this._metamask = new MetamaskExperimentalNamespace();",
				"  }",
				"",
				"  unmarkAsMetamask() {",
				"    this.isMetaMask = false;",
				"  }",
				"",
				"  private async _prepareState() {",
				"    return fetchInitialState(this.connection).then(",
				"      ({ chainId, accounts, walletNameFlags }) => {",
				"        updateChainId(this, chainId);",
				"        this.accounts = accounts;",
				"        if (walletNameFlags.includes(WalletNameFlag.isMetaMask)) {",
				"          this.markAsMetamask();",
				"        }",
				"      }",
				"    );",
				"  }",
				"",
				"  /**",
				"   * Some DApps make unbound calls to request, e.g. https://app.phuture.finance/",
				"   * To handle this, make request bound to instance",
				"   */",
				"  public request = async (",
				"    request: RequestArguments,",
				"    context?: unknown",
				"    // eslint-disable-next-line @typescript-eslint/no-explicit-any",
				"  ): Promise<any> => {",
				"    if (request.method === 'eth_chainId') {",
				"      return Promise.resolve(this.chainId);",
				"    }",
				"    if (request.method === 'eth_accounts' && this.accounts.length) {",
				"      return Promise.resolve(this.accounts);",
				"    }",
				"    let params = request.params;",
				"    if (request.method === 'eth_requestAccounts' && this.nonEip6963Request) {",
				"      params = [",
				"        {",
				"          ...(request.params || [])[0],",
				"          nonEip6963Request: this.nonEip6963Request,",
				"        },",
				"        ...(request.params || []).slice(1),",
				"      ];",
				"    }",
				"    const promise = this._getRequestPromise(",
				"      formatJsonRpcRequestPatched(request.method, params || [], request.id),",
				"      context",
				"    );",
				"    if (request.method === 'eth_requestAccounts' && this.nonEip6963Request) {",
				"      return promise.catch((originalError) => {",
				"        if (this.prefersOtherWalletStrategy) {",
				"          return this.prefersOtherWalletStrategy({ request, originalError });",
				"        } else {",
				"          throw originalError;",
				"        }",
				"      });",
				"    }",
				"    return promise;",
				"  };",
				"",
				"  // eslint-disable-next-line @typescript-eslint/no-explicit-any",
				"  private async _getRequestPromise<Result = any, Params = any>(",
				"    request: JsonRpcRequest<Params>,"
			],
			"startLine": 49
		}
	]
}
