{
	"highlightFirstLine": 6502,
	"highlightLastLine": 6505,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"packages\": {"
			],
			"startLine": 6
		},
		{
			"lines": [
				"    \"node_modules/@walletconnect/environment/node_modules/tslib\": {",
				"      \"version\": \"1.14.1\",",
				"      \"resolved\": \"https://registry.npmjs.org/tslib/-/tslib-1.14.1.tgz\",",
				"      \"integrity\": \"sha512-Xni35NKzjgMrwevysHTCArtLDpPvye8zV/0E4EyYn43P7/7qvQwPh9BGkHewbMulVntbigmcT7rdX3BNo9wRJg==\"",
				"    },",
				"    \"node_modules/@walletconnect/jsonrpc-provider\": {",
				"      \"version\": \"1.0.13\",",
				"      \"resolved\": \"https://registry.npmjs.org/@walletconnect/jsonrpc-provider/-/jsonrpc-provider-1.0.13.tgz\",",
				"      \"integrity\": \"sha512-K73EpThqHnSR26gOyNEL+acEex3P7VWZe6KE12ZwKzAt2H4e5gldZHbjsu2QR9cLeJ8AXuO7kEMOIcRv1QEc7g==\",",
				"      \"dependencies\": {",
				"        \"@walletconnect/jsonrpc-utils\": \"^1.0.8\",",
				"        \"@walletconnect/safe-json\": \"^1.0.2\",",
				"        \"tslib\": \"1.14.1\""
			],
			"startLine": 6497
		}
	]
}
