{
	"highlightFirstLine": 132,
	"highlightLastLine": 132,
	"segments": [
		{
			"lines": [
				"}) {"
			],
			"startLine": 76
		},
		{
			"lines": [
				"  const { data: resolvedValue } = useQuery({"
			],
			"startLine": 120
		},
		{
			"lines": [
				"    queryFn: () => {"
			],
			"startLine": 122
		},
		{
			"lines": [
				"      if ("
			],
			"startLine": 126
		},
		{
			"lines": [
				"        isSolanaAddress(normalizedValue)",
				"      ) {",
				"        return normalizedValue;",
				"      }",
				"      return resolveDomain(normalizedValue);",
				"    },",
				"    suspense: false,",
				"    enabled: Boolean(normalizedValue),",
				"  });"
			],
			"startLine": 128
		}
	]
}
