---
// Types/constants
import { defaultNavigationItems } from '@/components/navigation'


// Components
import Layout from '../layouts/Layout.astro'
import Navigation from '@/ui/organisms/Navigation.astro'
---


<Layout
	metadata={{
		title: 'Page not found | Walletbeat',
	}}
>
	<Navigation
		navigationItems={defaultNavigationItems}
	/>
	
	<main>
		<h1>404</h1>

		<p>Page not found.</p>

		<a onclick="history.back()">← Go back</a>
	</main>
</Layout>


<style>
	main {
		align-self: stretch;

		display: grid;
		align-content: center;
		gap: 1rem;

		text-align: center;

		h1 {
			font-size: 6em;
		}
	}
</style>
