<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="0; URL=/wallet/summary" />
		<link rel="canonical" href="/wallet/summary" />
		<title>Redirecting...</title>
		<script>
			window.location.href = '/wallet/summary'
		</script>
	</head>
	<body>
		<p>Redirecting to <a href="/wallet/summary">/wallet/summary</a></p>
	</body>
</html>
