{
	"highlightFirstLine": 26,
	"highlightLastLine": 52,
	"segments": [
		{
			"lines": [
				")",
				"",
				"class TinkPasswordStore internal constructor(",
				"    private val encryptedStore: SecureStringStore,",
				"    private val legacyStore: SecureStringStore,",
				"    private val random: SecureRandom,",
				") : PasswordStore {",
				"",
				"    constructor(context: Context) : this(",
				"        encryptedStore = TinkEncryptedKeyValueStore.create(",
				"            context = context,",
				"            config = PASSWORD_STORE_CONFIG,",
				"        ),",
				"        legacyStore = LegacyEncryptedPreferences(",
				"            context = context,",
				"            preferencesFileName = LEGACY_PREFERENCES_FILE_NAME,",
				"        ),",
				"        random = SecureRandom(),",
				"    )",
				"",
				"    @Synchronized",
				"    override fun getOrCreatePassword(key: String): String {",
				"        encryptedStore.getOrMigrate(legacyStore, key)?.let { return it }",
				"        val password = ByteArray(32)",
				"        return try {",
				"            random.nextBytes(password)",
				"            val value = password.hex.append0x()",
				"            encryptedStore.putString(key, value)",
				"            legacyStore.removeString(key)",
				"            value",
				"        } finally {",
				"            password.fill(0)",
				"        }",
				"    }",
				""
			],
			"startLine": 22
		}
	]
}
