{
	"highlightFirstLine": 104,
	"highlightLastLine": 104,
	"segments": [
		{
			"lines": [
				"extension LocalKeystorePassword {",
				"    private func setPassword(",
				"        _ password: String,",
				"        authentication: KeystoreAuthentication,",
				"        context: LAContext,",
				"    ) throws {",
				"        try keychain",
				"            .set(authentication.rawValue, key: Keys.passwordAuthentication)",
				"",
				"        try keychain",
				"            .accessibility(.whenUnlockedThisDeviceOnly, authenticationPolicy: authentication.policy)",
				"            .authenticationContext(context)",
				"            .set(password, key: Keys.password)",
				"    }",
				""
			],
			"startLine": 94
		}
	]
}
