{
	"highlightFirstLine": 29,
	"highlightLastLine": 31,
	"segments": [
		{
			"lines": [
				"<manifest xmlns:android=\"http://schemas.android.com/apk/res/android\">"
			],
			"startLine": 2
		},
		{
			"lines": [
				"    <application>"
			],
			"startLine": 12
		},
		{
			"lines": [
				"        <meta-data",
				"            android:name=\"com.google.firebase.messaging.default_notification_icon\"",
				"            android:resource=\"@drawable/ic_gem_notification\"",
				"            />",
				"        <meta-data android:name=\"firebase_analytics_collection_deactivated\" android:value=\"true\" />",
				"        <meta-data android:name=\"firebase_analytics_collection_enabled\" android:value=\"false\" />",
				"        <meta-data android:name=\"google_analytics_adid_collection_enabled\" android:value=\"false\" />",
				"        <meta-data android:name=\"firebase_performance_collection_enabled\" android:value=\"false\" />",
				"    </application>",
				"",
				"</manifest>"
			],
			"startLine": 25
		}
	]
}
