{
	"highlightFirstLine": 21,
	"highlightLastLine": 23,
	"segments": [
		{
			"lines": [
				"pub enum EVMChain {",
				"    Ethereum,",
				"    SmartChain,",
				"    Polygon,",
				"    Plasma,",
				"    Arbitrum,",
				"    Optimism,",
				"    Base,",
				"    AvalancheC,",
				"    OpBNB,",
				"    Fantom,",
				"    Gnosis,"
			],
			"startLine": 16
		}
	]
}
