{
	"highlightFirstLine": 2,
	"highlightLastLine": 6,
	"segments": [
		{
			"lines": [
				"{",
				"    \"eth\": [",
				"        {",
				"            \"blockchain_link\": {",
				"                \"type\": \"blockbook\",",
				"                \"url\": [\"https://eth.trezor.io\"]",
				"            },",
				"            \"chain\": \"eth\",",
				"            \"chain_id\": 1,",
				"            \"blocktime_seconds\": 12,"
			],
			"startLine": 1
		}
	]
}
