{
	"highlightFirstLine": 40,
	"highlightLastLine": 44,
	"segments": [
		{
			"lines": [
				"/**"
			],
			"startLine": 32
		},
		{
			"lines": [
				" * @example",
				" * generateMnemonic(wordlist, 128)",
				" * // 'legal winner thank year wave sausage worth useful legal winner thank yellow'",
				" */",
				"export function generateMnemonic(wordlist: string[], strength: number = 128): string {",
				"  assertNumber(strength);",
				"  if (strength % 32 !== 0 || strength > 256) throw new TypeError('Invalid entropy');",
				"  return entropyToMnemonic(randomBytes(strength / 8), wordlist);",
				"}",
				"",
				"const calcChecksum = (entropy: Uint8Array) => {",
				"  // Checksum is ent.length/4 bits long",
				"  const bitsLeft = 8 - entropy.length / 4;"
			],
			"startLine": 36
		}
	]
}
