{
	"highlightFirstLine": 74,
	"highlightLastLine": 74,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 33
		},
		{
			"lines": [
				"    \"@onekeyfe/hd-core\": \"1.1.0\",",
				"    \"@onekeyfe/hd-web-sdk\": \"1.1.0\",",
				"    \"@opensea/seaport-js\": \"4.0.5\",",
				"    \"@rabby-wallet/eth-coinbase-keyring\": \"0.0.0-beta.8\",",
				"    \"@rabby-wallet/eth-hd-keyring\": \"4.3.7\",",
				"    \"@rabby-wallet/eth-lattice-keyring\": \"1.2.4\",",
				"    \"@rabby-wallet/eth-simple-keyring\": \"5.1.2\",",
				"    \"@rabby-wallet/eth-trezor-keyring\": \"2.6.4\",",
				"    \"@rabby-wallet/eth-walletconnect-keyring\": \"2.1.7\","
			],
			"startLine": 70
		}
	]
}
