{
	"highlightFirstLine": 95,
	"highlightLastLine": 95,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 72
		},
		{
			"lines": [
				"    \"@onekeyfe/react-native-ble-utils\": \"0.1.4\",",
				"    \"@op-engineering/op-sqlite\": \"^15.1.1\",",
				"    \"@paraswap/sdk\": \"6.10.0\",",
				"    \"@rabby-wallet/biz-utils\": \"workspace:^\",",
				"    \"@rabby-wallet/eth-hd-keyring\": \"4.3.7\",",
				"    \"@rabby-wallet/eth-keyring-gnosis\": \"workspace:^\",",
				"    \"@rabby-wallet/eth-keyring-ledger\": \"workspace:^\",",
				"    \"@rabby-wallet/eth-keyring-onekey\": \"workspace:^\",",
				"    \"@rabby-wallet/eth-keyring-watch\": \"workspace:^\","
			],
			"startLine": 91
		}
	]
}
