{
	"highlightFirstLine": 92,
	"highlightLastLine": 97,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"resolutions\": {"
			],
			"startLine": 61
		},
		{
			"lines": [
				"    \"@safe-global/types-kit@^1.0.0\": \"patch:@safe-global/types-kit@npm%3A1.0.4#./.yarn/patches/@safe-global-types-kit-npm-1.0.4-47a7ac1904.patch\",",
				"    \"@safe-global/types-kit@1.0.2\": \"patch:@safe-global/types-kit@npm%3A1.0.4#./.yarn/patches/@safe-global-types-kit-npm-1.0.4-47a7ac1904.patch\",",
				"    \"@safe-global/types-kit@^1.0.2\": \"patch:@safe-global/types-kit@npm%3A1.0.4#./.yarn/patches/@safe-global-types-kit-npm-1.0.4-47a7ac1904.patch\",",
				"    \"@safe-global/types-kit@^1.0.4\": \"patch:@safe-global/types-kit@npm%3A1.0.4#./.yarn/patches/@safe-global-types-kit-npm-1.0.4-47a7ac1904.patch\",",
				"    \"@scure/bip39@1.2.2\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@scure/bip39@1.5.4\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@scure/bip39@1.2.1\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@scure/bip39@1.3.0\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@scure/bip39@^1.4.0\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@scure/bip39@^1.2.1\": \"patch:@scure/bip39@npm%3A1.3.0#./.yarn/patches/@scure-bip39-npm-1.3.0-1d74c5c469.patch\",",
				"    \"@rneui/base@^4.0.0-rc.8\": \"patch:@rneui/base@npm%3A4.0.0-rc.8#./.yarn/patches/@rneui-base-npm-4.0.0-rc.8-23456f2e0d.patch\",",
				"    \"react-native-vision-camera@4.7.2\": \"patch:react-native-vision-camera@npm%3A4.7.2#./.yarn/patches/react-native-vision-camera-npm-4.7.2-5538eb538b.patch\",",
				"    \"@op-engineering/op-sqlite@^15.1.1\": \"patch:@op-engineering/op-sqlite@npm%3A15.1.1#./.yarn/patches/@op-engineering-op-sqlite-npm-15.1.1-64eb5c2a0a.patch\",",
				"    \"@ethereumjs/tx@5.4.0\": \"patch:@ethereumjs/tx@npm%3A5.4.0#./.yarn/patches/@ethereumjs-tx-npm-5.4.0-0c4a0f973e.patch\","
			],
			"startLine": 88
		}
	]
}
