const algorithms = 'aes-256-cbc';
const algorithms_pbkdf2 = 'sha256';

async function _generateSalt(byteCount = 32) {
  const saltStr = await Aes.randomKey(byteCount);

  return btoa(saltStr);
}

async function _generateKey(password: string, salt: string, lib?: string) {
  return Aes.pbkdf2(password, salt, 5000, 256, algorithms_pbkdf2);
}
