{
	"highlightFirstLine": 528,
	"highlightLastLine": 528,
	"segments": [
		{
			"lines": [
				"export const INTERNAL_REQUEST_SESSION = {"
			],
			"startLine": 522
		},
		{
			"lines": [
				"  origin: INTERNAL_REQUEST_ORIGIN,",
				"  icon: RabbyChainLogo,",
				"};",
				"",
				"export const INITIAL_OPENAPI_URL = 'https://api.rabby.io';",
				"",
				"export const EVENTS = {",
				"  BRIDGE_HISTORY_UPDATED: 'BRIDGE_HISTORY_UPDATED',",
				"  broadcastToUI: 'broadcastToUI',"
			],
			"startLine": 524
		}
	]
}
