{
	"highlightFirstLine": 1474,
	"highlightLastLine": 1476,
	"segments": [
		{
			"lines": [
				"class ProviderController extends BaseController {"
			],
			"startLine": 542
		},
		{
			"lines": [
				"  }) => {"
			],
			"startLine": 769
		},
		{
			"lines": [
				"    try {"
			],
			"startLine": 1105
		},
		{
			"lines": [
				"      try {"
			],
			"startLine": 1309
		},
		{
			"lines": [
				"        if (",
				"          !findChain({ enum: chain })?.isTestnet ||",
				"          isGasAccount ||",
				"          isGasLess",
				"        ) {"
			],
			"startLine": 1313
		},
		{
			"lines": [
				"          } else {"
			],
			"startLine": 1340
		},
		{
			"lines": [
				"            if (defaultRPC?.txPushToRPC && !isGasLess && !isGasAccount) {"
			],
			"startLine": 1406
		},
		{
			"lines": [
				"              if (fePushedError) {"
			],
			"startLine": 1461
		},
		{
			"lines": [
				"                } catch (bePushError) {"
			],
			"startLine": 1466
		},
		{
			"lines": [
				"                  });",
				"                  throw fePushedError;",
				"                }",
				"              }",
				"            } else {",
				"              adoptBE7702Params();",
				"              const res = await openapi.submitTxV2(params);",
				"              if (res.access_token) {",
				"                handleGasAccountLoginSuccess(",
				"                  res.access_token,",
				"                  currentAccount,"
			],
			"startLine": 1470
		}
	]
}
