{
	"highlightFirstLine": 2,
	"highlightLastLine": 3,
	"segments": [
		{
			"lines": [
				"{",
				"  \"name\": \"@rabby-wallet/eth-hd-keyring\",",
				"  \"version\": \"4.3.7\",",
				"  \"description\": \"A simple standard interface for a seed phrase generated set of Ethereum accounts.\",",
				"  \"keywords\": [",
				"    \"ethereum\",",
				"    \"keyring\""
			],
			"startLine": 1
		}
	]
}
