{
	"highlightFirstLine": 68,
	"highlightLastLine": 68,
	"segments": [
		{
			"lines": [
				"class HdKeyring extends SimpleKeyring {",
				"  static type = type;",
				"",
				"  type = type;",
				"  mnemonic: string | null = null;",
				"  hdPath = HD_PATH_BASE[HDPathType.BIP44];",
				"  hdWallet?: HDKey;",
				"  wallets: Wallet[] = [];",
				"  activeIndexes: number[] = [];",
				"  index = 0;"
			],
			"startLine": 63
		}
	]
}
