{
	"highlightFirstLine": 834,
	"highlightLastLine": 847,
	"segments": [
		{
			"lines": [
				"function SettingsBlocks() {"
			],
			"startLine": 531
		},
		{
			"lines": [
				"  const settingsBlocks: Record<string, SettingBlock> = (() => {",
				"    return {"
			],
			"startLine": 718
		},
		{
			"lines": [
				"      settings: {"
			],
			"startLine": 743
		},
		{
			"lines": [
				"        items: ["
			],
			"startLine": 745
		},
		{
			"lines": [
				"          {"
			],
			"startLine": 820
		},
		{
			"lines": [
				"            onPress: () => {",
				"              navigation.dispatch("
			],
			"startLine": 823
		},
		{
			"lines": [
				"                }),",
				"              );",
				"            },",
				"          },",
				"          // {",
				"          //   label: t('page.setting.modifyRPCURL'),",
				"          //   icon: RcRPC,",
				"          //   onPress: () => {",
				"          //     navigation.dispatch(",
				"          //       StackActions.push(RootNames.StackSettings, {",
				"          //         screen: RootNames.CustomRPC,",
				"          //         params: {",
				"          //           source: 'settings',",
				"          //         },",
				"          //       }),",
				"          //     );",
				"          //   },",
				"          // },",
				"          {",
				"            visible: SHOULD_SUPPORT_DARK_MODE,",
				"            label: t('page.setting.themeMode'),",
				"            icon: RcThemeMode,"
			],
			"startLine": 830
		}
	]
}
