{
	"highlightFirstLine": 157,
	"highlightLastLine": 157,
	"segments": [
		{
			"lines": [
				"}) => {"
			],
			"startLine": 85
		},
		{
			"lines": [
				"  const debouncedResolveEns = useMemo(",
				"    () =>",
				"      debounce("
			],
			"startLine": 146
		},
		{
			"lines": [
				"        }: {",
				"          address: string;",
				"          requestId: number;",
				"        }) => {",
				"          try {",
				"            const result = await resolveEnsAddressByName(address, wallet);",
				"            if (requestId !== ensRequestIdRef.current) {",
				"              return;",
				"            }",
				"            setEnsResult("
			],
			"startLine": 152
		}
	]
}
