{
	"highlightFirstLine": 93,
	"highlightLastLine": 95,
	"segments": [
		{
			"lines": [
				"export const PreCreateSeedPhraseScreen = () => {"
			],
			"startLine": 63
		},
		{
			"lines": [
				"  const handleBackupToPaper = React.useCallback(() => {",
				"    navigateDeprecated(RootNames.StackAddress, {",
				"      screen: RootNames.CreateMnemonic,",
				"    });",
				"  }, []);",
				"",
				"  React.useEffect(() => {",
				"    apiMnemonic.generatePreMnemonic();",
				"  }, []);",
				"",
				"  return (",
				"    <NormalScreenContainer>",
				"      <View style={styles.hero}>"
			],
			"startLine": 87
		}
	]
}
