export const passwordEncrypt = async ({
  data,
  password,
  persisted,
  persistType = 'keyring',
}: {
  data: any;
  password?: string | null;
  persisted?: boolean;
  persistType?: PersistType;
}) => {
  if (!isNil(password)) {
    const { vault, exportedKeyString } = await encryptWithDetail(
      password,
      data
    );
    const { salt } = JSON.parse(vault) as Awaited<
      ReturnType<typeof decryptWithDetail>
    >;

    if (isManifestV3 && persisted) {
      await setSessionKeys(exportedKeyString, salt, persistType);
    }

    return vault;
  }

  const { exportedKey, salt } = await getSessionKeys(persistType);

  if (!exportedKey || !salt) {
    throw new Error('No exportedKey found in session');
  }

  const key = await importKey(exportedKey);
  const encryptedData = await encryptWithKey(key, data);
  const vault = JSON.stringify({ ...encryptedData, salt });

  return vault;
};
