{
	"highlightFirstLine": 101,
	"highlightLastLine": 111,
	"segments": [
		{
			"lines": [
				"export class Telemetry {"
			],
			"startLine": 43
		},
		{
			"lines": [
				"  recordUserAction(ctx: TrpcRequestContext, action: UserAction) {"
			],
			"startLine": 95
		},
		{
			"lines": [
				"",
				"    const { ipAddr, userAgent } = ctx;",
				"    const ipCountry = getIpCountry(ipAddr);",
				"",
				"    this.honeyEvents?.sendNow({",
				"      \"service.name\": \"daimo-api\",",
				"      \"event.type\": \"user-action\",",
				"      \"event.account_name\": action.accountName,",
				"      \"event.name\": action.name,",
				"      ...action.keys,",
				"",
				"      \"rpc.ip_addr\": ipAddr,",
				"      \"rpc.ip_country\": ipCountry,",
				"      \"rpc.user_agent\": userAgent,",
				"    });",
				"",
				"    const keysJson = JSON.stringify(action.keys);",
				"    this.recordClippy(",
				"      `${action.accountName} from ${ipCountry}: ${action.name} ${keysJson}`,"
			],
			"startLine": 97
		}
	]
}
