{
	"highlightFirstLine": 148,
	"highlightLastLine": 148,
	"segments": [
		{
			"lines": [
				"/** @internal Max number of bytes to contain larger chainID in data buffer */",
				"const MAX_CHAIN_ID_BYTES = 8;",
				"",
				"/** @internal */",
				"const BASE_URL = 'https://signing.gridpl.us';",
				"",
				"/** @internal */",
				"const EIP712_ABI_LATTICE_FW_TYPE_MAP = {",
				"  address: 1,"
			],
			"startLine": 144
		}
	]
}
