---
// Global CSS
import '../global.css'

// Props
import type { ComponentProps } from 'astro/types'
import { ClientRouter } from 'astro:transitions'

type Props = {
	metadata: ComponentProps<typeof Metadata>['metadata']
}

const { metadata } = Astro.props

// Components
import Metadata from '@/components/Metadata.astro'
import ThemeRegistry from '@/components/ThemeRegistry/ThemeRegistry'
// import { NavigationStateManager } from '@/components/NavigationStateManager'
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<Metadata {metadata} />
		<ClientRouter />
		<script is:inline>
			// `color-scheme` override
			const colorScheme = localStorage.getItem('theme')
			if (colorScheme) document.documentElement.style.colorScheme = colorScheme
		</script>
	</head>
	<body>
		<ThemeRegistry>
			<!-- <NavigationStateManager client:load /> -->
			<slot />
		</ThemeRegistry>
	</body>
</html>
