{
	"highlightFirstLine": 341,
	"highlightLastLine": 390,
	"segments": [
		{
			"lines": [
				"class AuthenticationService {"
			],
			"startLine": 123
		},
		{
			"lines": [
				"  /**",
				"   * Checks the authetincation type configured in the previous login",
				"   * @returns @AuthData",
				"   */",
				"  private checkAuthenticationMethod = async (): Promise<AuthData> => {",
				"    // TODO: Replace \"any\" with type",
				"    // eslint-disable-next-line @typescript-eslint/no-explicit-any",
				"    const availableBiometryType: any =",
				"      await SecureKeychain.getSupportedBiometryType();",
				"    const biometryPreviouslyDisabled = await StorageWrapper.getItem(",
				"      BIOMETRY_CHOICE_DISABLED,",
				"    );",
				"    const passcodePreviouslyDisabled =",
				"      await StorageWrapper.getItem(PASSCODE_DISABLED);",
				"",
				"    // Remember me should take priority over biometric/passcode",
				"    const existingUser = selectExistingUser(ReduxService.store.getState());",
				"    const allowLoginWithRememberMe =",
				"      ReduxService.store.getState().security?.allowLoginWithRememberMe;",
				"    if (existingUser && allowLoginWithRememberMe) {",
				"      const credentials = await SecureKeychain.getGenericPassword();",
				"      if (credentials?.password) {",
				"        return {",
				"          currentAuthType: AUTHENTICATION_TYPE.REMEMBER_ME,",
				"          availableBiometryType,",
				"        };",
				"      }",
				"    }",
				"",
				"    if (",
				"      availableBiometryType &&",
				"      !(biometryPreviouslyDisabled && biometryPreviouslyDisabled === TRUE)",
				"    ) {",
				"      return {",
				"        currentAuthType: AUTHENTICATION_TYPE.BIOMETRIC,",
				"        availableBiometryType,",
				"      };",
				"    }",
				"    // Then check passcode",
				"    if (",
				"      availableBiometryType &&",
				"      !(passcodePreviouslyDisabled && passcodePreviouslyDisabled === TRUE)",
				"    ) {",
				"      return {",
				"        currentAuthType: AUTHENTICATION_TYPE.PASSCODE,",
				"        availableBiometryType,",
				"      };",
				"    }",
				"    // Default to password",
				"    return {",
				"      currentAuthType: AUTHENTICATION_TYPE.PASSWORD,",
				"      availableBiometryType,",
				"    };",
				"  };",
				"",
				"  /**",
				"   * Reset vault will empty password used to clear/reset vault upon errors during login/creation",
				"   */"
			],
			"startLine": 337
		}
	]
}
