{
	"highlightFirstLine": 38,
	"highlightLastLine": 38,
	"segments": [
		{
			"lines": [
				"import { HDKey } from 'ethereum-cryptography/hdkey';",
				"import { keccak256 } from 'ethereum-cryptography/keccak';",
				"",
				"// Options:",
				"const hdPathString = `m/44'/60'/0'/0`;",
				"const type = 'HD Key Tree';",
				"",
				"type Mnemonic = string | number[] | SerializedBuffer | Buffer | Uint8Array;",
				""
			],
			"startLine": 34
		}
	]
}
