{
	"highlightFirstLine": 829,
	"highlightLastLine": 831,
	"segments": [
		{
			"lines": [
				"class UnlockPageBase extends Component<UnlockPageProps, UnlockPageState> {"
			],
			"startLine": 137
		},
		{
			"lines": [
				"  render() {"
			],
			"startLine": 647
		},
		{
			"lines": [
				"    return ("
			],
			"startLine": 666
		},
		{
			"lines": [
				"      >"
			],
			"startLine": 675
		},
		{
			"lines": [
				"        >",
				"          {showPasswordUnlockForm ? (",
				"            <form onSubmit={this.handleSubmit}>"
			],
			"startLine": 696
		},
		{
			"lines": [
				"              >"
			],
			"startLine": 703
		},
		{
			"lines": [
				"                )}",
				"              </Box>",
				"            </form>",
				"          ) : (",
				"            <UnlockPasskeySection",
				"              logoSection={this.renderLogoSection(isRehydrationFlow)}",
				"              isPasskeyActive={this.props.isPasskeyActive}",
				"              passkeyAutoUnlockSuppressed={",
				"                this.props.passkeyAutoUnlockSuppressed",
				"              }",
				"              mustDeferPasskeyToBrowserTab={"
			],
			"startLine": 825
		}
	]
}
