{
	"highlightFirstLine": 20,
	"highlightLastLine": 34,
	"segments": [
		{
			"lines": [
				"import type {"
			],
			"startLine": 13
		},
		{
			"lines": [
				"  MessageTypes,",
				"  TypedDataV1,",
				"  TypedMessage,",
				"} from '@metamask/eth-sig-util';",
				"import { mnemonicToSeed } from '@metamask/key-tree';",
				"import type { CryptographicFunctions } from '@metamask/key-tree';",
				"import type { Keyring } from '@metamask/keyring-utils';",
				"import { generateMnemonic, validateMnemonic } from '@metamask/scure-bip39';",
				"import { wordlist } from '@metamask/scure-bip39/dist/wordlists/english';",
				"import {",
				"  add0x,",
				"  assert,",
				"  assertIsHexString,",
				"  bigIntToBytes,",
				"  bytesToHex,",
				"  remove0x,",
				"} from '@metamask/utils';",
				"import type { Hex } from '@metamask/utils';",
				"import { HDKey } from 'ethereum-cryptography/hdkey';",
				"import { keccak256 } from 'ethereum-cryptography/keccak';",
				"",
				"// Options:",
				"const hdPathString = `m/44'/60'/0'/0`;"
			],
			"startLine": 16
		}
	]
}
