{
	"highlightFirstLine": 318,
	"highlightLastLine": 318,
	"segments": [
		{
			"lines": [
				"{"
			],
			"startLine": 1
		},
		{
			"lines": [
				"  \"dependencies\": {"
			],
			"startLine": 264
		},
		{
			"lines": [
				"    \"@metamask/earn-controller\": \"^12.2.5\",",
				"    \"@metamask/eip-5792-middleware\": \"^3.0.4\",",
				"    \"@metamask/eip1193-permission-middleware\": \"^1.0.2\",",
				"    \"@metamask/ens-resolver-snap\": \"^1.2.0\",",
				"    \"@metamask/eth-hd-keyring\": \"^15.0.0\",",
				"    \"@metamask/eth-json-rpc-filters\": \"^9.0.0\",",
				"    \"@metamask/eth-json-rpc-middleware\": \"^24.0.2\",",
				"    \"@metamask/eth-ledger-bridge-keyring\": \"^13.1.0\",",
				"    \"@metamask/eth-money-keyring\": \"^4.0.0\","
			],
			"startLine": 314
		}
	]
}
