{
	"highlightFirstLine": 446,
	"highlightLastLine": 447,
	"segments": [
		{
			"lines": [
				"env:"
			],
			"startLine": 185
		},
		{
			"lines": [
				"",
				"  # Authentication (Backup & Sync, Profile metrics...)",
				"  - FORCE_AUTH_MATCH_BUILD: false",
				"",
				"  # Passkey / Biometrics unlock",
				"  - PASSKEY_ENABLED: true",
				"",
				"  # Basic Functionality toggle (required for onboarding)",
				"  - BFT_CONSOLIDATION_ENABLED: false",
				""
			],
			"startLine": 442
		}
	]
}
