---
// Types/constants
import { WalletType } from '@/schema/wallet-types'
import { defaultNavigationItems } from '@/components/navigation'
import { allRatedWallets } from '@/data/wallets'
import { attributeTree } from '@/schema/attribute-groups'

const attributeGroups = Object.values(attributeTree)


// Components
import Layout from '@/layouts/Layout.astro'
import Navigation from '@/ui/organisms/Navigation.astro'
import WalletTable from '@/ui/organisms/WalletTable.svelte'
---

<Layout
	metadata={{
		title: 'Walletbeat',
	}}
>
	<Navigation
		navigationItems={defaultNavigationItems}
	/>
	
	<main>
		<section>
			<WalletTable
				client:load
				tableId="embedded-wallets"
				title="Embedded Wallets"
				wallets={
					Object
						.values(allRatedWallets)
						.filter(wallet => wallet.types[WalletType.EMBEDDED])
				}
				{attributeGroups}
			/>
		</section>
	</main>
</Layout>
