{
	"highlightFirstLine": 140,
	"highlightLastLine": 140,
	"segments": [
		{
			"lines": [
				"const char *const i18n_english_strings[] = {"
			],
			"startLine": 3
		},
		{
			"lines": [
				"    // Duress input",
				"    \"Create duress PIN\",",
				"    \"Repeat duress PIN\",",
				"    \"Setup duress PIN?\",",
				"    \"A duress PIN unlocks a decoy wallet if you're forced to log in under pressure.\\nIt looks real but keeps your actual funds and data hidden.\\nLearn more: keycard.tech/duress_pin\",",
				"    \"Both PINs set\",",
				"    \"Use duress PIN if forced to unlock device\",",
				"    \"Invalid duress PIN\",",
				"    \"Duress PIN and main PIN should not match.\","
			],
			"startLine": 136
		}
	]
}
